@charset "UTF-8";


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgba(254, 194, 204, 0.529);
}

#profile_main_box{
    width: 180px;
    height: 180px;
    position: fixed;
}

#triangle_img{
    width:100%;
    height:100% ;
    margin-left: -4px;
    margin-top: -4px;
}

#profile_cirle{
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 35px;
    cursor: pointer;
}

#plus_add_icon{
    font-size: 3rem;
    color: purple;
    bottom: 50px;
    right: 50px;
    position: fixed;
    z-index: 10000;
    cursor: pointer;
}

#plus_add_icon:hover{
    color: #706e6e;
}

#add_contact_main_box{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 10000;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 0%;
}

#add_contact_box{
    width: 40%;
    height: auto;
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
    padding: 30px;
}

#add_contact_box h1{
    text-align: center;
    font-family: ubuntu;
    color: purple;
}

#add_contact_box input{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 30px;
    font-size: 1.1rem;
    font-family: ubuntu;
    border: 2px solid purple;
    border-left: 5px solid purple;
    outline: none;
}

#add_contact_box button{
    width: 25%;
    height: 50px;
    margin-top: 30px;
    background-color: purple;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5rem;
    font-family: ubuntu;
    cursor: pointer;
}

#close_btn{
    margin-left: 40px;
}

#all_contact_main_box{
    width: 45%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
}

#all_contact_header{
    width: 100%;
    height: 150px;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 0%;
}

#all_contact_header h1{
    text-align: center;
    font-family: ubuntu;
    color: purple;
}

#search_input{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    padding-left: 3px;
    border: none;
    border-bottom: 2px solid purple;
    background-color: inherit;
    outline: none;
    font-size: 1.3rem;
    margin-top: 35px;
}

#all_contact_box{
    width: 100%;
    height: 70%;
    padding: 20px;
    overflow-y: scroll;
}

#all_contact_box::-webkit-scrollbar{
    
    background-color: transparent;
}

#all_contact_box_boxes{
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#all_contact_box_boxes p{
    font-size: 1.5rem;
    font-family: ubuntu;
    color: purple;
}

#all_contact_box_boxes hr{
    width: 75%;
    height: 1px;
    background-color: #ccc;
}

#tool{
    position: absolute;
    right: 0px;
    padding: 10px;
}

#tool i{
    font-size: 1.3rem;
    color: purple;
    margin: 8px;
    cursor: pointer;
}

#edit_icon:hover{
    color: green;
}

#delet_icon:hover{
    color: red;
}

#big_profile_box{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 0 10px #ccc;
    position: absolute;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    top: 0%;
    left: 0%;
}

#big_profile_circle{
    width: 450px;
    height: 450px;
    border: 10px solid white;
    border-radius: 50%;
}

#profile_cross_icon{
    font-size: 2rem;
    position: absolute;
    top: 50px;
    right: 100px;
    color: white;
    cursor: pointer;
}


#profile_cross_icon:hover{
    color: red;
}


/* 800px se niche screen hone pr */

@media (max-width:850px){
    #all_contact_main_box{
        width: 70%;
    }

    #add_contact_box{
        width: 60%;
    }
}


/* 700px se niche screen hone pr */

@media (max-width:700px){

  
    #all_contact_main_box{
        margin-top: 0px;
        width: 80%;
    }

    #add_contact_box{
        width: 70%;
    }

    #plus_add_icon{
        right: 25px;
        bottom: 80px;
    }

    #profile_main_box{
        position: relative;
        margin: 0 auto;
        height: 130px;
    }

    #triangle_img{
        display: none;
    }
}

/* 470px se niche screen hone pr */

@media (max-width:470px){

    #all_contact_main_box{
        margin-top: 0px;
        width: 100%;
    }


    #plus_add_icon{
        left: 40%;
        bottom: 70px;
    }

    #add_contact_box{
        width: 95%;
    }
}