@charset "UTF-8";


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


#container{
    width: 100%;
    height: 100vh;
    background-color: rgba(254, 194, 204, 0.529);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page{
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
    background-color: white;
    padding: 50px 25px;
}

#login{
    font-family: Arial, Helvetica, sans-serif;
    
}

#signup{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#login h1{
    font-family: century gothic;
}

#login_email,#login_password,#user_name,#signup_email,#signup_password,#signup_phone_no{
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    color: #727272;
    padding: 10px;
    padding-left: 3px;
    font-size: 1rem;
    margin-bottom: 13px;
}

#signup_email{
    margin-bottom: 0;
}

#login_frm,#signup_frm{
    margin-top: 30px;
}

#login_email,#login_password{
    margin-bottom: 5px;
    margin-top: 5px;
}

#login_btn,#signup_btn{
    width: 100%;
    background-color: rgba(239, 42, 239, 0.937);
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    margin-top: 15px;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

#login_btn:hover{   
    background-color: rgb(185, 4, 185);
}

#signup_btn:hover{   
    background-color: rgb(185, 4, 185);
}

#login p,#signup p{
    margin-top: 20px;
    font-size: 0.85rem;
}

#login p span,#signup p span{
    font-weight: bold;
    color: blue;
    cursor: pointer;
    font-size: 1.1rem;
}

#email_notice{
    color: red;
    display: none;
}

#login_email_notice,#login_pass_notice{
    margin-bottom: 5px;
    margin-left: 3px;
    color: red;
    display: none;
}

#signup_empty_notice{
    position: absolute;
    top: 1px;
}